<h2>Skyrim Keyword Fixes</h2>

<section>
    <expandable-section ng-repeat="file in files">
        <title>{{::file.filename}} ({{::file.sets.length}} equipment sets)</title>
        <content>
            <div ng-repeat="set in file.sets">
                <div class="flex">
                    <div class="name">{{::set.name}}</div>
                    <label>
                        <span>Material:</span>
                        <select ng-model="set.material">
                            <option ng-repeat="material in materials">{{::material.name}}</option>
                        </select>
                    </label>
                    <label>
                        <input type="checkbox" ng-model="set.useDummyMaterial">
                        <span>Use Dummy Material</span>
                    </label>
                </div>
                <expandable-section>
                    <title>{{::set.items.length}} Items</title>
                    <content>
                        <ul>
                            <li ng-repeat="item in set.items">
                                {{::item.name}}
                            </li>
                        </ul>
                    </content>
                </expandable-section>
            </div>
        </content>
    </expandable-section>
</section>